@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 0px 1.5px;
}

:root
{
  --primary-color: gold;
  --secondary-color: navy;

  --logo-banner-font-size: 2rem;

  --social-icon-font-size: 3rem;
  --navigation-element-font-size: 1.5rem;

  --welcome-font-size: 4rem;
  --heading-font-size: 4rem;

  --text-font-size: 1.5rem;

  --table-heading-font-size: 1.5rem;
  --table-element-font-size: 2rem;

  --footer-marker-font-size: 1rem;
  --footer-content-font-size: 1.5rem;

  --navigation-element-margin-right: 30px;
}

body
{
  font-family: Josefin Sans, sans-serif;
  padding: 0px 200px 0px 200px;
}

a
{
  color: black;
  text-decoration: none;
}

.collage
{
  display: none !important;
}

.hero
{
  background-image: url('banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  left: 0px;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.header
{
  align-items: end;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: 40px auto;
}

.logo
{
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 30px;
  border: 5px solid var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
}

.logo-image
{
  border-right: 5px solid var(--secondary-color);
}

.logo-banner
{
  color: var(--secondary-color);
  font-family: Raleway, sans-serif;
  font-size: var(--logo-banner-font-size);
  font-weight: 800;
  letter-spacing: -0.2px;
  line-height: 1em;
  padding-left: 10px;
  text-transform: uppercase;
}

.social-and-navigation
{
  align-items: end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: auto;
}

.social
{
  margin: 20px 0px 10px auto;
}

.social-icon
{
  color: var(--secondary-color);
  font-size: var(--social-icon-font-size);
  transition: transform 0.3s;
}

.social-icon:not(:last-of-type)
{
  margin-right: 20px;
}

.social-icon:hover
{
  transform: scale(1.2);
}

.navigation
{
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 20px;
}

.navigation-element
{
  color: var(--secondary-color);
  font-size: var(--navigation-element-font-size);
  padding: 5px 10px;
  background-color: var(--primary-color);
  border-radius: 25px;
}

.navigation-element:not(:last-of-type)
{
  margin-right: 30px;
}

.navigation-element:hover
{
  /* TODO: add hover effect for `.navigation-element` */
}

.main
{
}

.welcome
{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  font-size: var(--welcome-font-size);
  font-weight: 700;
  margin-bottom: 100px;
  padding: 20px 10px 10px 20px;
  place-content: center;
}

.heading
{
  font-size: var(--heading-font-size);
  background-color: var(--secondary-color);
  padding: 20px 10px 10px 20px;
  color: var(--primary-color);
  max-width: 50%;
  font-weight: 700;
  border-left: 20px solid var(--primary-color);
}

.footer
{
  align-items: start;
  border-top: 5px solid var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer-element
{
  padding: 20px 0px;
}

.footer-element:first-of-type
{
  margin-top: 20px;
}

.footer-element:last-of-type
{
  margin-bottom: 20px;
}

.footer-element > .marker
{
  font-size: var(--footer-marker-font-size);
  text-transform: lowercase;
  color: gray;
}

.footer-element > .content
{
  font-size: var(--footer-content-font-size);
  color: var(--secondary-color);
}

.text
{
  margin: 50px auto;
  font-size: var(--text-font-size);
  line-height: 1.5em;
  letter-spacing: -0.5px;
}

.table
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
}

.table-heading
{
  display: grid;
  font-size: var(--table-heading-font-size);
  place-content: center;
  padding: 10px;
  border-bottom: 4px solid var(--secondary-color);
}

.table-element
{
  display: grid;
  font-size: var(--table-element-font-size);
  place-content: center;
  padding: 20px;
  border-bottom: 4px solid var(--primary-color);
  margin: 10px 0px;
}

.vspace
{
  height: 200px;
}

@media screen and (max-width: 1080px)
{
  :root
  {
    --logo-banner-font-size: 2rem;

    --social-icon-font-size: 2rem;
    --navigation-element-font-size: 1rem;

    --welcome-font-size: 3rem;
    --heading-font-size: 2rem;

    --text-font-size: 1rem;

    --table-heading-font-size: 1rem;
    --table-element-font-size: 1.5rem;

    --footer-marker-font-size: 0.8rem;
    --footer-content-font-size: 1rem;
  }

  body
  {
    font-family: Josefin Sans, sans-serif;
    padding: 0px 50px 0px 50px;
  }

  .header
  {
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }

  .social-and-navigation
  {
    margin-left: initial;
  }

  .social
  {
    display: none !important;
  }

  .navigation
  {
    flex-flow: column nowrap;
    margin-left: 0px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
}

@media screen and (max-width: 480px)
{
  :root
  {
    --logo-banner-font-size: 2rem;

    --social-icon-font-size: 1rem;
    --navigation-element-font-size: 0.8rem;

    --welcome-font-size: 2rem;
    --heading-font-size: 1rem;

    --text-font-size: 0.8rem;

    --table-heading-font-size: 0.5rem;
    --table-element-font-size: 0.8rem;

    --footer-marker-font-size: 0.5rem;
    --footer-content-font-size: 0.8rem;
  }

  .logo
  {
    transform: scale(0.6) translateX(-100px);
  }

  .heading
  {
    padding: 10px 5px 5px 10px;
    max-width: 80%;
    border-left: 10px solid var(--primary-color);
  }

  .table-heading
  {
    padding: 10px 5px;
  }

  .table-element
  {
    padding: 20px 5px;
    margin: 10px 0px;
  }
}
